Import Libraries

In [2]:
import pandas as pd        # for reading data

Load Data

In [6]:
data = pd.read_csv('../Datasets/Iris.csv') 
data.head()  # Shows the first 5 rows of the data

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Data Preprocessing

In [8]:
print("Shape of the dataset:", data.shape)  # (rows, columns)

Shape of the dataset: (150, 5)

In [10]:
# Missing values
print(data.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Randomly insert missing values into the dataset

In [13]:
import numpy as np

# Set a random seed for reproducibility
np.random.seed(42)

# Let's introduce NaNs in 5% of the rows in 'column_name'
# Replace 'column_name' with actual column names in your dataset

cols_to_modify = ['sepal_length', 'sepal_width']  # Example columns; update with your own
for col in cols_to_modify:
    data.loc[data.sample(frac=0.05).index, col] = np.nan  # 5% of the data becomes NaN

In [14]:
# Missing values
print(data.isnull().sum())

sepal_length    8
sepal_width     8
petal_length    0
petal_width     0
species         0
dtype: int64

In [15]:
# Fill missing values with mean
data['sepal_length'] = data['sepal_length'].fillna(data['sepal_length'].mean())

In [17]:
# Fill missing values with mean
data['sepal_width'] = data['sepal_width'].fillna(data['sepal_width'].mean())

In [18]:
# Missing values
print(data.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Basic descriptive statistics

In [21]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.819014     3.046479      3.758667     1.198667
std        0.803677     0.427049      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
# Check data types
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

Variable Description

In [23]:
#  Iris dataset
variable_descriptions = {
    'sepal_length': 'Length of the sepal (cm)',
    'sepal_width': 'Width of the sepal (cm)',
    'petal_length': 'Length of the petal (cm)',
    'petal_width': 'Width of the petal (cm)',
    'species': 'Type of Iris plant'
}

In [26]:
data.shape

(150, 5)

In [27]:
data.dtypes.value_counts()

float64    4
object     1
Name: count, dtype: int64

In [29]:
# Convert Object (species) column to String 
data['species'] = data['species'].astype('string')

In [30]:
data.dtypes.value_counts()

float64           4
string[python]    1
Name: count, dtype: int64

Turn categorical variables into quantitative variables