In [23]:
import pandas as pd

In [24]:
# Load Data
data = pd.read_csv('../Datasets/Student_Performance.csv') 
data.head()  # Shows the first 5 rows of the data

,roll_no,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,science_score,total_score,grade
0,std-01,male,group D,some college,1.0,1.0,89,38.0,85.0,26.0,238.0,C
1,std-02,male,group B,high school,1.0,0.0,65,100.0,67.0,96.0,328.0,A
2,std-03,male,group C,master's degree,1.0,0.0,10,99.0,97.0,58.0,264.0,B
3,std-04,male,group D,some college,1.0,1.0,22,51.0,41.0,84.0,198.0,D
4,std-05,male,group C,some college,0.0,1.0,26,58.0,64.0,65.0,213.0,C

In [25]:
data.shape

(10000, 12)

In [26]:
data.dtypes

roll_no                         object
gender                          object
race_ethnicity                  object
parental_level_of_education     object
lunch                          float64
test_preparation_course        float64
math_score                      object
reading_score                  float64
writing_score                  float64
science_score                  float64
total_score                    float64
grade                           object
dtype: object

In [27]:
data.columns

Index(['roll_no', 'gender', 'race_ethnicity', 'parental_level_of_education',
       'lunch', 'test_preparation_course', 'math_score', 'reading_score',
       'writing_score', 'science_score', 'total_score', 'grade'],
      dtype='object')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   roll_no                      9999 non-null   object
 1   gender                       9982 non-null   object
 2   race_ethnicity               9977 non-null   object
 3   parental_level_of_education  9978 non-null   object
 4   lunch                        9976 non-null   float64
 5   test_preparation_course      9977 non-null   float64
 6   math_score                   9976 non-null   object
 7   reading_score                9975 non-null   float64
 8   writing_score                9976 non-null   float64
 9   science_score                9977 non-null   float64
 10  total_score                  9981 non-null   float64
 11  grade                        9997 non-null   object
dtypes: float64(6), object(6)
memory usage: 937.6+ KB

In [29]:
data.describe()

,lunch,test_preparation_course,reading_score,writing_score,science_score,total_score
count,9976.000000,9977.000000,9975.000000,9976.000000,9977.000000,9981.000000
mean,0.644246,0.388694,70.125915,71.415798,66.063045,264.740908
std,0.478765,0.487478,19.026245,18.245360,19.324331,42.304858
min,0.000000,0.000000,17.000000,10.000000,9.000000,89.000000
25%,0.000000,0.000000,57.000000,59.000000,53.000000,237.000000
50%,1.000000,0.000000,71.000000,72.500000,67.000000,268.000000
75%,1.000000,1.000000,85.000000,85.000000,81.000000,294.000000
max,1.000000,1.000000,100.000000,100.000000,100.000000,383.000000

In [30]:
# Missing values
print(data.isnull().sum())

roll_no                         1
gender                         18
race_ethnicity                 23
parental_level_of_education    22
lunch                          24
test_preparation_course        23
math_score                     24
reading_score                  25
writing_score                  24
science_score                  23
total_score                    19
grade                           3
dtype: int64

Replace missing values with mean

In [31]:
# Convert math score (object) to float64
data['math_score'] = pd.to_numeric(data['math_score'], errors='coerce')

# Fill missing values with mean
data['math_score'] = data['math_score'].fillna(data['math_score'].mean())

In [32]:
data.dtypes

roll_no                         object
gender                          object
race_ethnicity                  object
parental_level_of_education     object
lunch                          float64
test_preparation_course        float64
math_score                     float64
reading_score                  float64
writing_score                  float64
science_score                  float64
total_score                    float64
grade                           object
dtype: object

In [33]:
data.isnull().sum()

roll_no                         1
gender                         18
race_ethnicity                 23
parental_level_of_education    22
lunch                          24
test_preparation_course        23
math_score                      0
reading_score                  25
writing_score                  24
science_score                  23
total_score                    19
grade                           3
dtype: int64

Values - 

Categorical (object): roll_no, gender, race_ethnicity, parental_level_of_education, grade

Numerical (float64): Scores and test-related columns

In [34]:
# Fix missing values for numerical columns using mean
numerical_cols = ['math_score', 'reading_score', 'writing_score', 'science_score', 'total_score', 'test_preparation_course', 'lunch']
for col in numerical_cols:
    data[col] = pd.to_numeric(data[col], errors='coerce') 
    data[col] = data[col].fillna(data[col].mean())

In [35]:
data['gender'].mode()[0]

'female'

In [36]:
data['race_ethnicity'].mode()[0]

'group C'

In [37]:
# Fix missing values for categorical columns using mode
categorical_cols = ['gender', 'race_ethnicity', 'parental_level_of_education', 'grade']
for col in categorical_cols:
    data[col] = data[col].fillna(data[col].mode()[0])

In [38]:
# Drop row with missing roll_no
data.dropna(subset=['roll_no'], inplace=True)

In [39]:
print(data.isnull().sum())  # Should all be zero now
print(data.dtypes)          # Check final types

roll_no                        0
gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
science_score                  0
total_score                    0
grade                          0
dtype: int64
roll_no                         object
gender                          object
race_ethnicity                  object
parental_level_of_education     object
lunch                          float64
test_preparation_course        float64
math_score                     float64
reading_score                  float64
writing_score                  float64
science_score                  float64
total_score                    float64
grade                           object
dtype: object

In [40]:
print("\n\nThe features in the dataset are as follows : ")
print("1. math score : ", data['math_score'].dtype)
print("2. reading score : ", data['reading_score'].dtype)
print("3. writing score : ", data['writing_score'].dtype)

The features in the dataset are as follows :
1. math score :  float64
2. reading score :  float64
3. writing score :  float64

Outliers

In data science, an outlier is a value in a dataset that is much larger or smaller than the other values.

Finding Outliers: 

There are 2 ways to find outliers. 

1. Z Score
2. IQR Technique

Z - Score

In [53]:
mean = data['math_score'].mean()
std = data['math_score'].std()

print(mean)
print(std)

57.18076494366229
21.720208577980546

In [50]:
outliers = []

def detect_outliers_zs(data):
    threshold = 3
    mean = np.mean(data)
    std = np.std(data)

    for i in data:
        z_score = (i-mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [51]:
import numpy as np
outliers_math = detect_outliers_zs(data['math_score'])
outliers_reading = detect_outliers_zs(data['reading_score'])
outliers_writing = detect_outliers_zs(data['writing_score'])

# Math
print("Total Math Outliers =", len(outliers_math))
print("Math Outliers:", outliers_math)
print()

# Reading
print("Total Reading Outliers =", len(outliers_reading))
print("Reading Outliers:", outliers_reading)
print()

# Writing
print("Total Writing Outliers =", len(outliers_writing))
print("Writing Outliers:", outliers_writing)
print()

Total Math Outliers = 40
Math Outliers: [10.0, 16.0, 10.0, 15.0, 16.0, 10.0, 10.0, 10.0, 16.0, 11.0, 10.0, 10.0, 12.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 16.0, 16.0, 10.0, 10.0, 13.0, 11.0, 10.0, 10.0, 14.0, 10.0, 10.0, 11.0, 13.0, 10.0, 15.0, 15.0, 15.0]

Total Reading Outliers = 40
Reading Outliers: [10.0, 16.0, 10.0, 15.0, 16.0, 10.0, 10.0, 10.0, 16.0, 11.0, 10.0, 10.0, 12.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 16.0, 16.0, 10.0, 10.0, 13.0, 11.0, 10.0, 10.0, 14.0, 10.0, 10.0, 11.0, 13.0, 10.0, 15.0, 15.0, 15.0]

Total Writing Outliers = 40
Writing Outliers: [10.0, 16.0, 10.0, 15.0, 16.0, 10.0, 10.0, 10.0, 16.0, 11.0, 10.0, 10.0, 12.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 16.0, 16.0, 10.0, 10.0, 13.0, 11.0, 10.0, 10.0, 14.0, 10.0, 10.0, 11.0, 13.0, 10.0, 15.0, 15.0, 15.0]

IQR to find Outliers

In [ ]:
outliers = []

def detect_outliers_iqr(data):
    data = sorted(data)
    q1 = np.percentile(data,25)
    q3 = np.percentile(data, 75)
    # print(q3, q1)
    IQR = q3-q1
    lwr_bound = q1-(1.5*IQR)
    upr_bound = q3+(1.5*IQR) 

    for i in data:
        if (i < lwr_bound or i > upr_bound):
                outliers.append(i)
    return outliers

In [ ]:
outliers_math_iqr = detect_outliers_iqr(data['math_score'])
outliers_reading_iqr = detect_outliers_iqr(data['reading_score'])
outliers_writing_iqr = detect_outliers_iqr(data['writing_score'])

# Math
print("Total Math Outliers (IQR) =", len(outliers_math_iqr))
print("Math Outliers (IQR):", outliers_math_iqr)
print()

# Reading
print("Total Reading Outliers (IQR) =", len(outliers_reading_iqr))
print("Reading Outliers (IQR):", outliers_reading_iqr)
print()

# Writing
print("Total Writing Outliers (IQR) =", len(outliers_writing_iqr))
print("Writing Outliers (IQR):", outliers_writing_iqr)
print()

Box Plot for All Scores

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a DataFrame for the three score columns
score_data = pd.DataFrame({
    'Math': data['math_score'],
    'Reading': data['reading_score'],
    'Writing': data['writing_score']
})

# Create a box plot for the three score columns
plt.figure(figsize=(10, 6))
sns.boxplot(data=score_data)
plt.title("Box Plot of Math, Reading, and Writing Scores with Outliers")
plt.show()

Removing Outliers