Import Libraries

In [71]:
import pandas as pd        # for reading data

In [72]:
# Load Data
data = pd.read_csv('../Datasets/Iris.csv') 
data.head()  # Shows the first 5 rows of the data

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [73]:
data.tail()     # Last 5 rows

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [74]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [75]:
data.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [76]:
data.shape

(150, 5)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [78]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [79]:
# Species wise count
data['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [80]:
# Mean,Median, Mode Values
m1 = data['sepal_length'].mean()
m2 = data['sepal_length'].median()
m3 = data['sepal_length'].mode()

print("Mean = ",m1)
print("Median = ",m2)
print("Mode = ",m3)

# Similarly we can find the central values for other columns also

Mean =  5.843333333333334
Median =  5.8
Mode =  0    5.0
Name: sepal_length, dtype: float64

In [81]:
# Missing values
print(data.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [82]:
# If there is any missing value

# Fill missing values with mean
data['sepal_length'] = data['sepal_length'].fillna(data['sepal_length'].mean())

In [83]:
data.dtypes.value_counts()

float64    4
object     1
Name: count, dtype: int64

In [84]:
# Convert Object (species) column to String 
data['species'] = data['species'].astype('string')

In [85]:
data.dtypes.value_counts()

float64           4
string[python]    1
Name: count, dtype: int64

In [86]:
# No.of rows per cetgory
data['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: Int64

In [88]:
# Standardization

from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()

scaled_data = standard_scaler.fit_transform(data['sepal_length'].values.reshape(-1,1))

In [90]:
data['sepal_length'] = standard_scaler.fit_transform(data['sepal_length'].values.reshape(-1,1))

In [91]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0     -0.900681          3.5           1.4          0.2  Iris-setosa
1     -1.143017          3.0           1.4          0.2  Iris-setosa
2     -1.385353          3.2           1.3          0.2  Iris-setosa
3     -1.506521          3.1           1.5          0.2  Iris-setosa
4     -1.021849          3.6           1.4          0.2  Iris-setosa

In [92]:
scaled_data

array([[-0.90068117],
       [-1.14301691],
       [-1.38535265],
       [-1.50652052],
       [-1.02184904],
       [-0.53717756],
       [-1.50652052],
       [-1.02184904],
       [-1.74885626],
       [-1.14301691],
       [-0.53717756],
       [-1.26418478],
       [-1.26418478],
       [-1.87002413],
       [-0.05250608],
       [-0.17367395],
       [-0.53717756],
       [-0.90068117],
       [-0.17367395],
       [-0.90068117],
       [-0.53717756],
       [-0.90068117],
       [-1.50652052],
       [-0.90068117],
       [-1.26418478],
       [-1.02184904],
       [-1.02184904],
       [-0.7795133 ],
       [-0.7795133 ],
       [-1.38535265],
       [-1.26418478],
       [-0.53717756],
       [-0.7795133 ],
       [-0.41600969],
       [-1.14301691],
       [-1.02184904],
       [-0.41600969],
       [-1.14301691],
       [-1.74885626],
       [-0.90068117],
       [-1.02184904],
       [-1.62768839],
       [-1.74885626],
       [-1.02184904],
       [-0.90068117],
       [-1.26418478],
       [-0.90068117],
       [-1.50652052],
       [-0.65834543],
       [-1.02184904],
       [ 1.40150837],
       [ 0.67450115],
       [ 1.2803405 ],
       [-0.41600969],
       [ 0.79566902],
       [-0.17367395],
       [ 0.55333328],
       [-1.14301691],
       [ 0.91683689],
       [-0.7795133 ],
       [-1.02184904],
       [ 0.06866179],
       [ 0.18982966],
       [ 0.31099753],
       [-0.29484182],
       [ 1.03800476],
       [-0.29484182],
       [-0.05250608],
       [ 0.4321654 ],
       [-0.29484182],
       [ 0.06866179],
       [ 0.31099753],
       [ 0.55333328],
       [ 0.31099753],
       [ 0.67450115],
       [ 0.91683689],
       [ 1.15917263],
       [ 1.03800476],
       [ 0.18982966],
       [-0.17367395],
       [-0.41600969],
       [-0.41600969],
       [-0.05250608],
       [ 0.18982966],
       [-0.53717756],
       [ 0.18982966],
       [ 1.03800476],
       [ 0.55333328],
       [-0.29484182],
       [-0.41600969],
       [-0.41600969],
       [ 0.31099753],
       [-0.05250608],
       [-1.02184904],
       [-0.29484182],
       [-0.17367395],
       [-0.17367395],
       [ 0.4321654 ],
       [-0.90068117],
       [-0.17367395],
       [ 0.55333328],
       [-0.05250608],
       [ 1.52267624],
       [ 0.55333328],
       [ 0.79566902],
       [ 2.12851559],
       [-1.14301691],
       [ 1.76501198],
       [ 1.03800476],
       [ 1.64384411],
       [ 0.79566902],
       [ 0.67450115],
       [ 1.15917263],
       [-0.17367395],
       [-0.05250608],
       [ 0.67450115],
       [ 0.79566902],
       [ 2.24968346],
       [ 2.24968346],
       [ 0.18982966],
       [ 1.2803405 ],
       [-0.29484182],
       [ 2.24968346],
       [ 0.55333328],
       [ 1.03800476],
       [ 1.64384411],
       [ 0.4321654 ],
       [ 0.31099753],
       [ 0.67450115],
       [ 1.64384411],
       [ 1.88617985],
       [ 2.4920192 ],
       [ 0.67450115],
       [ 0.55333328],
       [ 0.31099753],
       [ 2.24968346],
       [ 0.55333328],
       [ 0.67450115],
       [ 0.18982966],
       [ 1.2803405 ],
       [ 1.03800476],
       [ 1.2803405 ],
       [-0.05250608],
       [ 1.15917263],
       [ 1.03800476],
       [ 1.03800476],
       [ 0.55333328],
       [ 0.79566902],
       [ 0.4321654 ],
       [ 0.06866179]])

In [93]:
print(scaled_data.mean())

-4.736951571734001e-16

Min Max Normalization / Scaling

In [97]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

normalized_data = scaler.fit_transform(data['petal_length'].values.reshape(-1, 1))

print(normalized_data)

[[0.06779661]
 [0.06779661]
 [0.05084746]
 [0.08474576]
 [0.06779661]
 [0.11864407]
 [0.06779661]
 [0.08474576]
 [0.06779661]
 [0.08474576]
 [0.08474576]
 [0.10169492]
 [0.06779661]
 [0.01694915]
 [0.03389831]
 [0.08474576]
 [0.05084746]
 [0.06779661]
 [0.11864407]
 [0.08474576]
 [0.11864407]
 [0.08474576]
 [0.        ]
 [0.11864407]
 [0.15254237]
 [0.10169492]
 [0.10169492]
 [0.08474576]
 [0.06779661]
 [0.10169492]
 [0.10169492]
 [0.08474576]
 [0.08474576]
 [0.06779661]
 [0.08474576]
 [0.03389831]
 [0.05084746]
 [0.08474576]
 [0.05084746]
 [0.08474576]
 [0.05084746]
 [0.05084746]
 [0.05084746]
 [0.10169492]
 [0.15254237]
 [0.06779661]
 [0.10169492]
 [0.06779661]
 [0.08474576]
 [0.06779661]
 [0.62711864]
 [0.59322034]
 [0.66101695]
 [0.50847458]
 [0.61016949]
 [0.59322034]
 [0.62711864]
 [0.38983051]
 [0.61016949]
 [0.49152542]
 [0.42372881]
 [0.54237288]
 [0.50847458]
 [0.62711864]
 [0.44067797]
 [0.57627119]
 [0.59322034]
 [0.52542373]
 [0.59322034]
 [0.49152542]
 [0.6440678 ]
 [0.50847458]
 [0.66101695]
 [0.62711864]
 [0.55932203]
 [0.57627119]
 [0.6440678 ]
 [0.6779661 ]
 [0.59322034]
 [0.42372881]
 [0.47457627]
 [0.45762712]
 [0.49152542]
 [0.69491525]
 [0.59322034]
 [0.59322034]
 [0.62711864]
 [0.57627119]
 [0.52542373]
 [0.50847458]
 [0.57627119]
 [0.61016949]
 [0.50847458]
 [0.38983051]
 [0.54237288]
 [0.54237288]
 [0.54237288]
 [0.55932203]
 [0.33898305]
 [0.52542373]
 [0.84745763]
 [0.69491525]
 [0.83050847]
 [0.77966102]
 [0.81355932]
 [0.94915254]
 [0.59322034]
 [0.89830508]
 [0.81355932]
 [0.86440678]
 [0.69491525]
 [0.72881356]
 [0.76271186]
 [0.6779661 ]
 [0.69491525]
 [0.72881356]
 [0.76271186]
 [0.96610169]
 [1.        ]
 [0.6779661 ]
 [0.79661017]
 [0.66101695]
 [0.96610169]
 [0.66101695]
 [0.79661017]
 [0.84745763]
 [0.6440678 ]
 [0.66101695]
 [0.77966102]
 [0.81355932]
 [0.86440678]
 [0.91525424]
 [0.77966102]
 [0.69491525]
 [0.77966102]
 [0.86440678]
 [0.77966102]
 [0.76271186]
 [0.6440678 ]
 [0.74576271]
 [0.77966102]
 [0.69491525]
 [0.69491525]
 [0.83050847]
 [0.79661017]
 [0.71186441]
 [0.6779661 ]
 [0.71186441]
 [0.74576271]
 [0.69491525]]

In [ ]:
# Custom function - scaling
def scaling(data):
    mean = np.mean(data)
    std = np.std(data)
    for x in data:
        s = [(x-mean)/std]
    return s

In [ ]:
# Using Custom function - minMaxScaler
def minMaxScaler(data):
    min_val = min(data)
    max_val = max(data)
    for x in data:
        s = [(x-min_val)/(max_val-min_val)]
    return s

petal_lengths = data['petal_length'].values
scaled = minMaxScaler(petal_lengths)
print(scaled)

In [ ]:
data.head()

In [ ]:
data['petal_length'] = normalized_data

In [ ]:
data.head()

In [ ]:
data['sepal_length'] = scaled_data

In [ ]:
data.head()

In [ ]:
# Scaling multiple columns at a time

from sklearn.preprocessing import StandardScaler

# Select numeric columns to scale
numeric_cols = ['sepal_width','petal_width','petal_length']

scaler = StandardScaler()
scaled_columns = scaler.fit_transform(data[numeric_cols])

# Replace original values with scaled values
data[numeric_cols] = scaled_columns

# Show the updated DataFrame
print(data.head())

species is a categorical column in the Iris dataset, you can encode it using either: 1) Label encoding 2) One hot encoding

Label Encoding

'Iris-setosa' → 0
'Iris-versicolor' → 1
'Iris-virginica' → 2

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['species'] = le.fit_transform(data['species'])

print(data.head())

In [ ]:
data.tail()

 One-Hot Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# Extract species column as a DataFrame
species = data[['species']]

# Use sparse_output instead of sparse
encoder = OneHotEncoder(sparse_output=False)  
encoded_species = encoder.fit_transform(species)

# Convert to a DataFrame
encoded_df = pd.DataFrame(encoded_species, columns=encoder.get_feature_names_out(['species']))

# Display top rows
print(encoded_df.head())

Dummy Coding

In [ ]:
new_data = pd.get_dummies(data, columns=['species'])
print(new_data.head())

In [ ]:
new_data.tail()